<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap-theme.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>URL Shortener</title>
</head>
<body>


<div class="container">
    <h2>Coupon</h2>
    <h2>NOT FOUND URL!!!!</h2>
</div><!-- /container -->

</body>
</html>

